In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [4]:
df=pd.read_csv("marital status.csv")

In [5]:
df.head()

   age  status
0   21     0.0
1   33     1.0
2   24     0.0
3   28     1.0
4   17     0.0

In [6]:
#check Null Val
df.isnull().sum()

age       0
status    1
dtype: int64

In [10]:
#median of status, to omit "NULL" values and put there median val max(0/1)
handle=df['status'].median()

In [11]:
handle #0.0 is max in table

0.0

In [12]:
df.status=df.status.fillna(handle)

In [13]:
df# we can see there is no 0

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [14]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [15]:
#split
x=df[['age']]#put feature in double bracket
y=df['status']

In [16]:
x
y

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: status, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
xtrain ,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30,random_state=1)

In [19]:
xtest

    age
3    28
16   16
6    23
10   26
2    24
14   34

In [20]:
ytest

3     1.0
16    0.0
6     0.0
10    1.0
2     0.0
14    1.0
Name: status, dtype: float64

In [21]:
#train/fit
from sklearn.linear_model import LogisticRegression

In [23]:
model=LogisticRegression()

In [24]:
model.fit(xtrain,ytrain)

LogisticRegression()

In [25]:
model.predict(xtest)

array([1., 0., 0., 0., 0., 1.])

In [26]:
ytest #model predicting fine

3     1.0
16    0.0
6     0.0
10    1.0
2     0.0
14    1.0
Name: status, dtype: float64

In [27]:
model.score(xtest,ytest) #accurecy=83%

0.8333333333333334

In [28]:
#sigmoid func(logistic reg)
model.predict_proba(xtest)
#here below- 28% < 71% .so, out test output is 1.This is how logistics reg works.

array([[0.28697051, 0.71302949],
       [0.9902967 , 0.0097033 ],
       [0.80161052, 0.19838948],
       [0.50311753, 0.49688247],
       [0.71810555, 0.28189445],
       [0.02465085, 0.97534915]])